<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit UE and Cours</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Edit UE and Cours</h1>
    <form th:action="@{/admin/update}" th:object="${ue}" method="post">
        <div class="mb-3">
            <label for="code" class="form-label">Code UE</label>
            <input type="text" class="form-control" id="code" th:field="*{code}">
        </div>
        <div class="mb-3">
            <label for="intitulé" class="form-label">Titre UE</label>
            <input type="text" class="form-control" id="intitulé" th:field="*{intitulé}">
        </div>
        <div th:each="cours, iterStat : ${coursList}">
            <h3>Cours <span th:text="${iterStat.count}"></span></h3>
            <div class="mb-3">
                <label for="titre" class="form-label">Titre Cours</label>
                <input type="text" class="form-control" id="titre" th:field="*{cours[iterStat.index].titre}">
            </div>
            <div class="mb-3">
                <label for="supportCours" class="form-label">Support Cours</label>
                <input type="text" class="form-control" id="supportCours" th:field="*{cours[iterStat.index].supportCours}">
            </div>
            <input type="hidden" th:field="*{cours[iterStat.index].id}">
        </div>
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    </form>
</div>
</body>
</html>
